{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% include 'nav.html' with active='index' only %}
{% endblock nav %}

{% block content %}
<!-- Intro Section
================================================== -->
<section id="intro">

        <ul class="slides">
            <li>
                <div class="row">
                    <div class="twelve columns">
                        <div class="slider-text">
                            <h1>Technologies, programming and more<span>.</span></h1>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                     deleniti eos et accusamus. amet consequat enim elit noneas sit amet luctu. lacus sit amet luctus lobortis.
                     Aenean condimentum, lacus sit amet luctus.</p>
                        </div>
                  <div class="slider-image">
                     <img src="{% static 'images/sliders/coding.jpg' %}" alt="" />
                  </div>
                    </div>
                </div>
            </li>
        </ul>

</section> <!-- Intro Section End-->

<!-- Info Section
================================================== -->
<section id="info">

   <div class="row">

      <div class="bgrid-quarters s-bgrid-halves">

        <div class="columns">
           <h2>Django</h2>

           <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
           Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
           </p>
        </div>

        <div class="columns">
           <h2>Python</h2>

           <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
           Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
           </p>
        </div>

        <div class="columns s-first">
           <h2>HTML5 + CSS3.</h2>

           <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
           Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
           </p>
        </div>

        <div class="columns">
           <h2>Javascript</h2>

           <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
           Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
           </p>
        </div>

        </div>

   </div>

</section> <!-- Info Section End-->

<!-- Works Section
================================================== -->
<!--    <section id="works">

   <div class="row">

      <div class="twelve columns align-center">
         <h1>Some of our recent works.</h1>
      </div>

      <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-halves">

            <div class="columns portfolio-item">
            <div class="item-wrap">
                    <a href="portfolio.html">
                  <img alt="" src="images/portfolio/geometrics.jpg">
                  <div class="overlay"></div>
                  <div class="link-icon"><i class="fa fa-link"></i></div>
               </a>
                     <div class="portfolio-item-meta">
                        <h5><a href="portfolio.html">Geometrics</a></h5>
                  <p>Illustration</p>
                     </div>
            </div>
             </div>

         <div class="columns portfolio-item">
            <div class="item-wrap">
                    <a href="portfolio.html">
                  <img alt="" src="images/portfolio/console.jpg">
                  <div class="overlay"></div>
                  <div class="link-icon"><i class="fa fa-link"></i></div>
               </a>
                     <div class="portfolio-item-meta">
                        <h5><a href="portfolio.html">Console</a></h5>
                  <p>Web Development</p>
                     </div>
            </div>
             </div>

         <div class="columns portfolio-item s-first">
            <div class="item-wrap">
                    <a href="portfolio.html">
                  <img alt="" src="images/portfolio/camera-man.jpg">
                  <div class="overlay"></div>
                  <div class="link-icon"><i class="fa fa-link"></i></div>
               </a>
                     <div class="portfolio-item-meta">
                        <h5><a href="portfolio.html">Camera Man</a></h5>
                  <p>Photography</p>
                     </div>
            </div>
             </div>

         <div class="columns portfolio-item">
            <div class="item-wrap">
                    <a href="portfolio.html">
                  <img alt="" src="images/portfolio/into-the-light.jpg">
                  <div class="overlay"></div>
                  <div class="link-icon"><i class="fa fa-link"></i></div>
               </a>
                     <div class="portfolio-item-meta">
                        <h5><a href="portfolio.html">Into The Light</a></h5>
                  <p>Branding</p>
                     </div>
            </div>
             </div>

      </div>

   </div>

</section> -->

<!-- Journal Section
================================================== -->
<section id="journal">

   <div class="row">
      <div class="twelve columns align-center">
         <h1>Our latest posts.</h1>
      </div>
   </div>

   <div class="blog-entries">

        {% for post in posts %}
        <!-- Entry -->
        <article class="row entry">

         <div class="entry-header">

            <div class="permalink">
               <a href="{% url 'post-detail' slug=post.slug %}"><i class="fa fa-link"></i></a>
            </div>

            <div class="ten columns entry-title pull-right">
               <h3><a href="{% url 'post-detail' slug=post.slug %}">{{ post.title }}</a></h3>
            </div>

            <div class="two columns post-meta end">
               <p>
               <time datetime="" class="post-date" pubdate="">{{ post.created_at|date:'b d, Y' }}</time>

               <span class="dauthor">By
                   {% for author in post.authors.all %}
                   {{ author.first_name }} {{ author.last_name }}
                   {% endfor %}
               </span>
               </p>
            </div>

         </div>

         <div class="ten columns offset-2 post-content">
            <p>{{ post.content|striptags|safe|slice:"0:400" }}
            <a class="more-link" href="{% url 'post-detail' slug=post.slug %}">Read More<i class="fa fa-arrow-circle-o-right"></i></a></p>
         </div>

        </article> <!-- Entry End -->
       {% endfor %}

   </div> <!-- Entries End -->

</section> <!-- Journal Section End-->

{% endblock content %}