{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }} | Sparrow{% endblock title %}

{% block nav %}
{% include 'nav.html' with active='blog' only %}
{% endblock nav %}

{% block content %}
<!-- Page Title
================================================== -->
<div id="page-title">

  <div class="row">

     <div class="ten columns centered text-center">
        <h1>Our Blog<span>.</span></h1>

        <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi
        enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu. </p>
     </div>

  </div>

</div> <!-- Page Title End-->

<!-- Content
================================================== -->
<div class="content-outer">

  <div id="page-content" class="row">

     <div id="primary" class="eight columns">

        <article class="post">

           <div class="entry-header cf">

              <h1>{{ post.title }}</h1>

              <p class="post-meta">

                 <time class="date" datetime="2014-01-14T11:24">{{ post.created_at|date:'b d, Y' }}</time>
                <span class="categories">
                  {% for category in post.categories.all %}
                    / <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                  {% endfor %}
                </span>

              </p>

           </div>

            {% if post.thumb %}
            <div class="post-thumb">
                <img src="{{ post.thumb.url }}" alt="post-image" title="post-image">
            </div>
            {% endif %}

           <div class="post-content">
                {{ post.content|safe }}
                <p class="tags">
                <span>Tagged in </span>:
                    {% if post.tags.all %}
                    {{ post.tags.all|join:", " }}
                    {% endif %}
                </p>

                {% for author in post.authors.all %}
                <div class="bio cf">
                    <div class="gravatar">
                        <img src="images/author-img.png" alt="">
                    </div>
                    <div class="about">
                        <h5><a title="Posts by {{ author.first_name }} {{ author.last_name }}" href="#" rel="author">{{ author.first_name }} {{ author.last_name }}</a></h5>
                    </div>
                </div>
                {% endfor %}

                <ul class="post-nav cf">
                    {% if previous %}
                    <li class="prev"><a rel="prev" href="{{ previous.get_absolute_url }}"><strong>Previous Article</strong>{{ previous }}</a></li>
                    {% endif %}
                    {% if next %}
                    <li class="next"><a rel="next" href="{{ next.get_absolute_url }}"><strong>Next Article</strong>{{ next }}</a></li>
                    {% endif %}
                </ul>
           </div>

        </article> <!-- post end -->

     </div>

     {% include 'core/snippet_sidebar_blog.html' with categories=categories tags=tags only %}

  </div>

</div> <!-- Content End-->
{% endblock content %}