{% extends 'base.html' %}
{% load static %}

{% block title %}Blog | Sparrow{% endblock title %}

{% block nav %}
{% include 'nav.html' with active='blog' only %}
{% endblock nav %}

{% block content %}

<!-- Page Title
================================================== -->
<div id="page-title">

  <div class="row">

     <div class="ten columns centered text-center">
        <h1>Our Blog<span>.</span></h1>

        <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi
        enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu. </p>
     </div>

  </div>

</div> <!-- Page Title End-->

<!-- Content
================================================== -->
<div class="content-outer">

  <div id="page-content" class="row">

     <div id="primary" class="eight columns">
         {% for post in page_obj %}

        <article class="post">

           <div class="entry-header cf">

              <h1><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}</a></h1>

              <p class="post-meta">

                 <time class="date" datetime="">{{ post.created_at|date:'b d, Y'}}</time>
                 <span class="categories">
                    {% for category in post.categories.all %}
                     / <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                    {% endfor %}
                 </span>
              </p>
           </div>

           {% if post.thumb %}
           <div class="post-thumb">
              <a href="{{ post.get_absolute_url }}" title=""><img src="{{ post.thumb.url }}" alt="post-image" title="post-image"></a>
           </div>
           {% endif %}

           <div class="post-content">
              {{ post.content|striptags|safe|slice:"0:400" }}
           </div>

        </article> <!-- post end -->
        {% empty %}
         <center>Sorry, we do not have any posts yet!</center>
        {% endfor %}

        <!-- Pagination -->
        <nav class="col full pagination">
              {% if page_obj %}
              <ul>
                 {% if page_obj.has_previous %}
                 <li>
                     <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-numbers">&laquo; First</a>
                 </li>
                 {% endif %}

                 {% for page in page_obj.paginator.page_range %}
                 <li>
                     <a href="?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-numbers {% if page == page_obj.number %} current{% endif %}">{{ page }}</a>
                 </li>
                 {% endfor %}

                  {% if page_obj.has_next %}
                  <li>
                      <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-numbers">Last &raquo;</a>
                  </li>
                  {% endif %}
              </ul>
              {% endif %}
          </nav>

     </div> <!-- Primary End-->

    {% include 'core/snippet_sidebar_blog.html' with categories=categories tags=tags only %}

  </div>

</div> <!-- Content End-->

{% endblock content %}